[package]
name = "tars-codec"
version = "0.1.2"
edition.workspace = true
license.workspace = true

[dependencies]
bytes = { workspace = true }
tokio-util = { workspace = true, features = ["codec"] }
thiserror = { workspace = true }
smallvec = "1.15.1"
rustc-hash = { workspace = true }
